<h1>Избранное</h1>

<div class="favorites-container">
  {{#each favorites}}
  <div class="card col-3" data-id="{{comb_id}}" name="productCart">

    <div class="card-img">
      <div class="sock-color" style="background-color: {{sock_hex}}"></div>
      <div class="sock-pattern" style="background-image: url('/img/patterns/{{pattern_url}}')"></div>
      <div class="sock-picture" style="background-image: url('/img/pictures/{{pic_url}}')"></div>
      <div class="sock-constructor"></div>
    </div>

    <div class="card-body">
      <h5 class="card-title">{{pattern_name}}</h5>
    </div>

    <div class="card-buttons">
      <button class="btn btn-outline-danger delete-button" type="submit" id="{{comb_id}}"><span class="delete-button material-symbols-outlined">delete</span></button>
      <button class="btn btn-outline-dark add-to-cart-button" type="button" id="favorite-{{comb_id}}"><span class="add-to-cart-button material-symbols-outlined">add_shopping_cart</span><span class="add-to-cart-button text">В корзину</span></button>
    </div>
  </div>
  {{/each}}

</div>



<script defer src="/js/deleteFavor.js"></script>
<script src="/js/changeQty.js"></script>











