
<h1>Избранное</h1>
<div class="favorites-container">

{{#each favorites}}

  <div name="productCart" data-id="{{comb_id}}">

    <div class="col-3 socks-output-container">
      {{!-- ОТОБРАЖЕНИ НОСКА --}}
      <div id="sock">
        {{!-- ТУТ БУДЕТ ЦВЕТ --}}
        <div><img src="/img/patterns/{{pattern_url}}" height="600" width="600"></div>
        <div><img src="/img/pictures/{{pic_url}}" height="600" width="600"></div>
        <div><img src="/img/constructor.png" height="600" width="600"></div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{pattern_name}}</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">В Корзину</a>
      <button class="btn btn-outline-danger delete-button" type="submit" id="{{comb_id}}"><span class="delete-button material-symbols-outlined">delete</span></button>
    </div>
  </div>
{{/each}}

</div>



<script defer src="/js/deleteFavor.js"></script>











