<div class="row g-3 content">
  <h2 class="mb-3 align-self-center">Создай себе носок!</h2>
  <div class="col-12 mb-6 generator-content">

    {{!-- ОТОБРАЖЕНИЕ НОСКА --}}
      <div class="col-6 socks-output-container">
        <div id="sock">
          <div id="sock-color"></div>
          <div id="sock-pattern"></div>
          <div id="sock-picture"></div>
          <div id="sock-constructor"></div>
        </div>
      </div>

      <div class="col-6 socks-form">
      <form class='sock-form' name='generator' method='post' action='/cart'>
        {{!-- ЦВЕТ --}}
        <h3>Выбери цвет:</h3>
          <div class="form-check">
            <p data-id="1" class="color color_white">
              <input class="form-check-input" type="radio" name="color" id="color1" checked>
              <label class="form-check-label" for="color1">white</label>
            </p>
            {{#each colors}}
            <p data-id="{{id}}" class="color color_{{color}}">
              <input class="form-check-input" type="radio" name="color" id="color{{id}}">
              <label class="form-check-label" for="color{{id}}">{{color}}</label>
            </p>
            {{/each}}
          </div>

          {{!-- УЗОР --}}
          <span>Выбери узор:</span>
          <div class="form-check">
            <p data-id="1" class="pattern pattern_(нет)">
              <input class="form-check-input" type="radio" name="pattern" id="pattern{{id}}" checked>
              <label class="form-check-label" for="pattern1">(нет)</label>
            </p>
            {{#each patterns}}
            <p data-id="{{id}}" class="pattern pattern_{{pattern_name}}">
              <input class="form-check-input" type="radio" name="pattern" id="pattern{{id}}">
              <label class="form-check-label" for="pattern{{id}}">{{pattern_name}}</label>
            </p>
            {{/each}}
          </div>

          {{!-- КАРТИНКА --}}
          <span>Выбери картинку:</span>
          <div class="form-check">
            <p data-id="1" class="picture picture_(нет)">
              <input class="form-check-input" type="radio" name="pic" id="pic1" checked>
              <label class="form-check-label" for="pic{{id}}">(нет)</label>
            </p>
            {{#each pictures}}
            <p data-id="{{id}}" class="picture picture_{{pic_name}}">
              <input class="form-check-input" type="radio" name="pic" id="pic{{id}}">
              <label class="form-check-label" for="pic{{id}}">{{pic_name}}</label>
            </p>
            {{/each}}
          </div>

          <div class="generator-buttons">
            <button type='button' class="col-4 btn btn-lg btn-secondary mt-3"><span class="material-symbols-outlined">bookmark_add</span><span>В избранное</span></button>
            <button type='submit' class="col-4 btn btn-lg btn-primary mt-3"><span class="material-symbols-outlined">shopping_basket</span><span>В корзину</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/generator.js"></script>
